# docusaurus 一些类型定义库存在幽灵依赖
# 虽然不影响打包，但是在配置文件中获取不到类型提示
# 这里将其提升到项目根目录 node_modules 下，提升开发体验
public-hoist-pattern[]=*@docusaurus/theme-classic*
public-hoist-pattern[]=*@docusaurus/types*
public-hoist-pattern[]=*@types/react*
